/* CSS Document */
body{font:80%/100% Arial,Helvetica,sans-serif;background:#fff;color:#333; margin-top:0; padding:0;}
hr{height:1px;border-top:1px solid #ccc;border-right:none;border-bottom:none;border-left:none;background:none;margin:1em 0;}

#estructura{width:100%;}
#cabecera h1{text-align:left;width:100%;}
#cabecera h1 a{text-decoration:none;color:#000;width:100%;}
#cabecera h1 a span{display:block;font-size:1.75em;line-height:90%;}

#cabecera .idiomas{display:none;}
#cabecera .buscador{display:none;}
#cabecera ul{display:none;}
#mapHerramientas{display:none;}
ul.herramientas{display:none;}
#lateral {width:18%;float:none;display:none;}
#lateral #tercerNivel{display:none;width:16%;}
#lateral #enlacesRelacionados{display:none;width:16%;}
#contenido{padding:0 0 0 0.8em;width:98%;margin-bottom:1em;overflow:visible;float:none;line-height:1.25em;}
#pie{display:none;}
#migas{display:none;}
a.navegacion{display:none;}

div.portada .seccionesDestacadas .varios h4{text-align:right;}
div.portada .seccionesDestacadas .varios h4 span{display:block;color:#999;}

div.portada .temas .temaDestacado a{display:block;padding-left:0;text-decoration:none;line-height:1.2em;}

.mapaWeb dd.subir{display:none;}
#contenido .subir{display:none;}

h1{color:#900;font-size:1.55em;line-height:1em;margin:0.5em 0 0.5em;}
h1.logo a{text-align:left; font-weight:normal;color:#666; line-height:1.1em; text-decoration:none;}
h1.logo a strong { color:#c00; font-size:0.75em; font-weight:bold;line-height:0.8em;}
h1.logo a strong.normal {font-size:1em; color:#c00; font-weight:bold;}
h1.logo a {text-decoration:none;}
h1.logo a:visited{color:#666;}
a img, img.sinBorde{border:none;}
p{margin:0 0 0em;padding:0;}

.mas{display:none;}
.zoom{display:none;}
.icono{padding-left:0;}

.listadoArbol{overflow:visible;}

#menuEspecial{display:none;}

/*Bibliografia*/
.noImprimir {display:none;}

/*Estructura Orgánica*/
.estructuraOrganica .formBasico {display:none;}
.estructuraOrganica .resultadosBusqueda {display:none;}

/*Noticia*/
h1 .fecha{display:block;color:#666;font-size:0.65em;font-weight:normal;}
.entradillaNoticia{padding:1em 0 1em 0;color:#666;font-weight:bold;}

.foto{margin-bottom:0.3em;}
.foto, .foto .imagen{width:19.25em;}
.foto .pie{background:#fff url(/imgs/bk.pieFoto.gif) left bottom repeat-x;color:#666;margin-top:0;font-size:0.9em;line-height:1.1em;padding:0.2em 0.3em;border:1px solid #ccc;width:20.55em;overflow:hidden;}
.dcha{float:right;margin-left:0.8em;}


dl.relacionados {display:none;}
p.pie a{display:none;}

#consolaEstructura {display:none;background:red;}
#consola {display:none;}
